* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: hsl(0, 0%, 23%);
  color: rgb(255, 255, 255);
}

header {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 1;
}
header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("image/main.png") no-repeat center;
  background-size: cover;
  filter: blur(2px);
  z-index: -1;
}
nav {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
}
.nav-list {
  margin-left: auto;
  cursor: pointer;
}
.nav-logo {
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.25s;
  padding: 2px;
  border-radius: 5px;
}
.nav-logo:hover {
  background-color: aliceblue;
  color: black;
}
.fa-regular.fa-user {
  font-size: 1.5em;
}
nav ul {
  all: unset;
  padding: 10px;
  margin-left: auto;
}
nav ul span {
  font-size: 1.5em;
}
nav ul a {
  text-decoration: none;
  justify-content: space-around;
  font-size: 1.2em;
  color: hsl(0, 0%, 100%);
  transition: all 0.25s;
  padding: 2px;
  border-radius: 10px;
}
a:hover {
  transition: all 0.25s;
  background-color: hsl(0, 0%, 100%);
  color: black;
}
nav ul li {
  display: inline-block;
  padding-right: 5px;
}
.author {
  justify-items: center;
  align-items: center;
  margin-bottom: 5%;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}
header h1 {
  margin-bottom: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header p {
  margin-top: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}

main {
  display: flexbox;
  width: 100%;
  justify-items: center;
}
main h2 {
  display: inline-block;
}
.imageBigContainer {
  display: flex;
  justify-content: space-around;
}
.imageContainer {
  width: 100px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 0 0 20px rgb(84, 84, 84);
  transition: all 0.25s ease-in-out;
}
.imageContainer:hover {
  cursor: pointer;
  width: 400px;
  box-shadow: 0 0 20px cyan, 0 0 40px cyan, 0 0 60px cyan;
  transition: all 0.25s ease-in-out;
}
.univerPic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

section {
  transition: all 0.25s ease-in-out;
}
section:hover {
  box-shadow: 0 0 20px;
  transition: all 0.25s ease-in-out;
}
.skillBarContainer {
  width: 50%;
  margin-right: auto;
  padding-left: 5px;
}
.skill {
  margin-bottom: 20px;
}
.skill p {
  margin: 0;
  font-weight: bold;
}
.skillBar {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
}
.skillBar span {
  margin-left: auto;
  padding-right: 4px;
  font-weight: bold;
}
.skillPercentage {
  margin-top: auto;
  height: 4px;
  background-color: rgb(0, 119, 255);
  border-radius: 25px;
}
.html {
  color: rgb(255, 162, 0);
}
.css {
  color: aqua;
}
.js {
  color: rgb(248, 252, 0);
}

footer {
  padding: 40px;
  align-items: center;
  justify-items: center;
  background-color: hsl(236, 100%, 8%);
  transition: all 0.25s ease-in-out;
}
footer:hover {
  box-shadow: 0 0 25px;
}

.logoContainer ul li {
  all: unset;
  padding: 0;
  margin: 0;
}
.logoContainer ul {
  margin: 0 auto;
  padding: 0;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  width: 50vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.logoContainer i {
  color: hsl(300, 96%, 20%);
  font-size: 25px;
  transition: all 0.25s ease-in-out;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.logoContainer i:hover {
  color: black;
  background-color: white;
}
footer p {
  font-weight: lighter;
}

/* approved changes */
section {
  padding: 3px;
}
main a {
  text-decoration: none;
  color: hsl(0, 0%, 70%);
}
main a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 2px 3px;
}

/* new code goes here*/
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
}
.contactSection{
  border: solid;
  border-radius: 15px;
  width: 50%;
  margin: 10px auto;
}
form{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  flex: 1;
}
form div{
  flex: 1;
}
form input{
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
form input:hover{
  box-shadow: 0 0 10px cyan,
              0 0 20px cyan,
              0 0 30px cyan;
}
form button{
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
form button:hover{
  box-shadow: 0 0 10px cyan,
              0 0 20px cyan,
              0 0 30px cyan;
}
form textarea{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
form textarea:hover{
  box-shadow: 0 0 10px cyan,
              0 0 20px cyan,
              0 0 30px cyan;

}

@media (max-width: 767px) {
  /* New code goes here */
  form{
    flex-direction: column;
  }
  .contactSection{
    width: 100%;
  }
  /* New code ends here */


  header {
    width: 100%;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: relative;
  }
  nav ul li {
    display: flex;
    flex-direction: column;
  }
  nav span {
    display: none;
  }
  .hidden {
    display: none;
  }
  .nav-logo {
    margin-left: auto;
  }
  .imageBigContainer {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .skillBarContainer {
    width: 100%;
  }
}
